@import 'tailwindcss';
@import 'tailwindcss-animated';

html,
body,
#app {
  height: 100%;
}

* {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.15s ease-in;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
